body {
  background: lightgreen;
}
.tab {
  overflow: hidden;
  border: 1px solid rgb(3, 3, 3);
  background-color: #f1f1f1;
}

.footer {
  position: fixed;
  height: 50px;
  text-align: center;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid rgb(3, 3, 3);
  border-top: none;
}
